body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  .frame {
    position: absolute;
    top: 30px;
    left: 5px;
    width: 80%;
    height: 80%;
    overflow: hidden;
  }
  iframe {
    border: none;
    width: 200%;
    height: 200%;
    transform: scale(0.55);
    transform-origin: 0 0;
  }